@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,700&display=swap');
@import '_myVariables';

body {
  background: $background-body;
}

* {
  text-transform: none;
  border: 0;
  padding: 0;
  margin: 0;
  //color: $text-color;
  box-sizing: border-box;
}
.app {
  max-width: 960px;
  min-width: 360px;
  margin-top: 74px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  border-radius: 10px;
  background: $background-app;
  border: 1px solid grey;
}
.title {
  text-align: center;
}
.app-header {
  @extend %container;
  margin-top: 30px;
  max-height: 100px;
  margin-bottom: 5px;
  align-items: center;
}
.convert {
 @extend %container;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  margin: 15px 10px;
  &_label {
    width: 120px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  &_input {
    padding: $padding-input;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    height: 32px;
    opacity: 0.8;
    font-size: $text-input-size;
    outline: none;
    width: 100%;
    max-width: 250px;
  }
  &_input::-webkit-calendar-picker-indicator {
    display: none;
  }
  &_input[name='currencies']{
    width: 150px;
  }
}
